<VirtualHost *:80>
ServerName webcsd
Redirect permanent / http://webcsd-app.dev.nibr.novartis.net
</VirtualHost>
 
<VirtualHost *:80>
ServerName isostar
Redirect permanent / http://isostar-app.dev.nibr.novartis.net
</VirtualHost>
 
<VirtualHost *:80>
ServerName relibase
Redirect permanent / http://relibase-app.dev.nibr.novartis.net
</VirtualHost>
 
<VirtualHost *:80>
ServerName isostar-app.dev.nibr.novartis.net
#ServerAlias isostar
ProxyPreserveHost On
ProxyPass / http://localhost:8080/
ProxyPassReverse / http://localhost:8080/
</VirtualHost> 
 
 
<VirtualHost *:80>
ServerName webcsd-app.dev.nibr.novartis.net
#ServerAlias webcsd
ProxyPreserveHost On
ProxyPass / http://localhost:8081/
ProxyPassReverse / http://localhost:8081/
</VirtualHost> 
 
 
<VirtualHost *:80>
ServerName relibase-app.dev.nibr.novartis.net
##ServerAlias relibase
ProxyPreserveHost On
ProxyPass / http://localhost:8082/
ProxyPassReverse / http://localhost:8082/
</VirtualHost> 
